<!--The content below is only a placeholder and can be replaced.-->
<!--<h1>{{title}}</h1>
<app-task-list></app-task-list>
<br/>
<p>
  Usuário: {{user | json}} <br/>
  {{upperText | uppercase}} <br/>
  {{lowerText | lowercase}} <br/>
  {{percentValue | percent}} <br/>
  {{date | date : 'dd/MM/yyyy HH:mm'}} <br/>
  {{moeda | currency : 'BRL'}}
</p>

<div *ngIf="isAdmin">É administrador!</div>
<div *ngIf="!isAdmin"> É usuário comum!</div>

<br/>

<div [ngSwitch]="profile">
  <div *ngSwitchCase="1">Você pode ler o conteúdo e alterá-lo</div>
  <div *ngSwitchCase="2">Você pode ler o conteúdo</div>
  <div *ngSwitchDefault>Você não pode acessar o conteúdo!</div>
</div>
<br/>
<br/>
<br/>

<h1>Lista recuperada de comentários: </h1>
<app-comment></app-comment>
-->
<form>
  <div>
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name">
  </div>
  <br/>
  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">
  </div>
  <br/>
  <button type="submit">Enviar</button>
</form>

